.Surface {

}

.Surface .subjectCaption {
    color: #000;
}

.Surface object {
    touch-action: none;
}

.Surface .subjectCaption,
.Surface canvas {
    pointer-events: none;
}

.Surface .controls {
    display: flex;
    justify-content: space-around;
    position: absolute;
        bottom: 0;
        width: 100%;
    z-index: 1;
}
