.Play .Wait,
.Play .Join {
    display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
    height: 100vh;
}

.Play .Assess .word {
    background: orange;
    color: #fff;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 80vh;
    width: 80vh;
}
