.GreenRoom {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100vh;
}

.GreenRoom .players {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.GreenRoom .players .Player {
    background: #00b8ff;
    background: radial-gradient(
        #00b8ff 0,
        #2255ff 100%
    );
    border-radius: 10%;
    box-shadow: 0 .3em 2em -.5em #000;
    color: #fff;
    display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    margin: 1em;
    padding: 2em;
    height: 5em;
    width: 5em;
}
